.scrollable-container {
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;

  > .item {
    width: 150px;
    height: 40px;
    background: #ffffff;
    color: #000000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  > .active {
    background: #f46700;
    color: #ffffff;
  }
}
