.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.customButton {
  width: 100px;
  height: 50px;
  background-color: aquamarine;
}

.listing-container {
  border-radius: 10px;
}

.task-item {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: #d9f5fd;
  padding: 10px;
  display: flex;
  align-items: center;

  > .suffix {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
